.Python
bin
include
lib
pip-selfcheck.json
src
coding-skills-sample-code
devnet-express-code-samples
.vscode
code/soluciones/desafio_final_solucion.py
*/__pycache__/*
**/*.pyc
.idea/
code/playground/
